<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>527788671289-tmu8noi231phr9eug57tffbk3k73oqp9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.527788671289-tmu8noi231phr9eug57tffbk3k73oqp9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>527788671289-8t0dn4sk0fh21ndhab13806epjr7fmp6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyArdjbKzc5ZQJaUdGOIJa9ax2juXEwH7ZU</string>
	<key>GCM_SENDER_ID</key>
	<string>527788671289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.irohubProject.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ridhun-s-project</string>
	<key>STORAGE_BUCKET</key>
	<string>ridhun-s-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:527788671289:ios:19581c2fb68c5d4823a8e8</string>
	<key>DATABASE_URL</key>
	<string>https://ridhun-s-project-default-rtdb.firebaseio.com</string>
</dict>
</plist>